@media (min-width:768px){ /*pour ordi*/

    header img{
        grid-area: 1/1/2/2;
        width: 6rem;
        height: 6rem;
        margin-left: 1rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
    }

    /*a partir de l'image*/

    #main{
        display: grid;
        grid-template: 0.5fr 1fr/1fr;
    }

    #main>div>h1:nth-child(1){
        font-size: 4rem;
        margin-left: 2%;
        margin-top: 0;
        margin-bottom: 0;
        font-family: Copperplate, Copperplate Gothic Light, fantasy;
        font-style: italic;
    }

    #main>div>h1:nth-child(2){
        font-size: 2rem;
        margin-left: 2%;
        margin-top: 0;
        font-family: Copperplate, Copperplate Gothic Light, fantasy;
        font-style: italic;
    }

    /*form*/
    form{
        grid-area: 2/1/3/2;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
    }


    /*nom*/
    form>div:nth-of-type(1){
        grid-area: 1/1/2/2;
    }

    /*prenom*/
    form>div:nth-of-type(2){
        grid-area: 1/2/2/3;
    }

    /*tel*/
    form>div:nth-of-type(3){
        grid-area: 1/3/2/4;
    }

    /*menu*/
    form>div:nth-of-type(4){
        grid-area: 2/1/3/2;
    }

    /*taille*/
    form>div:nth-of-type(5){
        grid-area: 2/2/3/3;
    }

    /*viande*/
    form>div:nth-of-type(6){
        grid-area: 2/3/3/4;
    }

    /*sauce*/
    form>div:nth-of-type(7){
        grid-area: 3/1/4/2;
    }

    /*boisson*/
    form>div:nth-of-type(8){
        grid-area: 3/2/4/3;
    }

    /*crudites*/
    form>div:nth-of-type(9){
        grid-area: 3/3/4/4;
    }

    form>div:nth-of-type(9)>label{
        font-size: 1.7rem;
    }

    /*payement*/
    form>div:nth-of-type(10){
        grid-area: 4/2/5/3;
    }

    /*tableau des suppléments*/
    table{
        grid-area: 5/2/6/3;
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    
    }

    /*retour acceuil*/
    form>a{
        grid-area: 6/1/7/2;
        background-color: black;
        color: white;
        font-size: 1rem;
        border: none;
        align-self: center;
        height: 10%;
        width: 20%;
        margin: auto;
    }

    form>a:hover{
        background-color:  rgb(200, 200, 200);
        color: black;
        height: 11%;
        width: 22%;
        transition: all 0.5s;
    }

    /*bouton valider*/
    button{
        grid-area: 6/2/7/3;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        border: none;
        height: 20%;
        width: 40%;
        align-self: center;
        margin: auto;
    }

    button:hover{
        background-color:  rgb(200, 200, 200);
        color: black;
        height: 22%;
        width: 44%;
        transition: all 0.5s;
    }





    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 5rem;
        height: 5rem;
        position: relative;
        left: 80%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.4rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 1rem;
    }
    
    #adresse{
        grid-area: 4/1/5/2;
    }
    
    #mail{
        grid-area: 4/2/5/3;
    }
    
    #tel{
        grid-area: 4/3/5/4;
    }
    
    #reseaux{
        grid-area: 5/2/6/3;
    }
    
    
    a>img{
        width: 2.5rem;
        height: 2.5rem;
    }
    

}






@media (max-width:767px){ /*pour tel*/

    header img{
        grid-area: 1/1/2/2;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 2px 8px;
        margin: 5px 15px;
        text-decoration: none;
        font-size: 0.7rem;
    }

    #main{
        display: grid;
        grid-template: 0.10fr 1fr/1fr;
        margin-bottom: 5%;
    }

    #main>div>h1:nth-child(1){
        font-size: 1.5rem;
        margin-left: 2%;
        margin-top: 0;
        margin-bottom: 0;
        font-family: Copperplate, Copperplate Gothic Light, fantasy;
        font-style: italic;
    }

    #main>div>h1:nth-child(2){
        font-size: 0.75rem;
        margin-left: 2%;
        margin-top: 0;
        font-family: Copperplate, Copperplate Gothic Light, fantasy;
        font-style: italic;
    }




    /*form*/
    form{
        grid-area: 2/1/3/2;
        display: grid;
        grid-template: auto/1fr;
    }

    /*en plus de la partie commune, pour espacer les questions*/
    form>div{
        padding: 5%;
    }

    /*nom*/
    form>div:nth-of-type(1){
        grid-area: 1/1/2/2;
    }

    /*prenom*/
    form>div:nth-of-type(2){
        grid-area: 2/1/2/2;
    }

    /*tel*/
    form>div:nth-of-type(3){
        grid-area: 3/1/4/2;
    }

    /*menu*/
    form>div:nth-of-type(4){
        grid-area: 4/1/5/2;
    }

    /*taille*/
    form>div:nth-of-type(5){
        grid-area: 5/1/6/2;
    }

    /*viande*/
    form>div:nth-of-type(6){
        grid-area: 6/1/7/2;
    }

    /*sauce*/
    form>div:nth-of-type(7){
        grid-area: 7/1/8/2;
    }

    /*boisson*/
    form>div:nth-of-type(8){
        grid-area: 8/1/9/2;
    }

    /*crudites*/
    form>div:nth-of-type(9){
        grid-area: 9/1/10/2;
    }

    form>div:nth-of-type(9)>label{
        font-size: 1.7rem;
    }

    /*payement*/
    form>div:nth-of-type(10){
        grid-area: 10/1/11/2;
    }


    /*tableau des suppléments*/
    table{
        margin: 10%;
    }

    /*bouton valider*/
    button{
        grid-area: 12/1/13/2;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        border: none;
        height: 80%;
        width: 30%;
        margin-top: auto;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    /*retour acceuil*/
    form>a{
        grid-area: 13/1/14/2;
        background-color: black;
        color: white;
        font-size: 1rem;
        border: none;
        height: 100%;
        width: 20%;
        margin: auto;
    }



    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 4rem;
        height: 4rem;
        position: relative;
        left: 30%;
        top: 8%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.2rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 0.8rem;
    }
    
    #adresse{
        grid-area: 4/2/5/3;
    }
    
    #mail{
        grid-area: 5/2/6/3;
    }
    
    #tel{
        grid-area: 6/2/7/3;
    }
    
    #reseaux{
        grid-area: 7/1/8/4;
    }
    
    a>img{
        width: 2rem;
        height: 2rem;
    }
    
}




/*commun*/

header{

    background-color: black ;
    display: grid;
    grid-template: 1fr / 10% 1fr 1fr 2fr;
    align-items: center;
    height: auto;
}


header>a:hover, div>a:hover{
    background-color: #ddd;
    color: black;
}


body{
    background-color: rgb(231, 210, 183);
    margin: 0;
}

/*à partir du main(image kebab)*/
#main>div:first-child{
    background-image: url(images/commande.png);
    background-size: cover;
    background-position: center;
    grid-area: 1/1/2/2;   
}


form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>div>input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 20%;
    width: 60%;
    background-color: white;
    align-items: center;
    margin-top: 3%;
}

form>div>p{
    font-size: 2rem;
    margin-left: 0.5rem;
}

form>div>select{
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 20%;
    width: 60%;
    margin-top: 3%;
    background-color: white;
}

form>div>select:hover{
    background-color: rgb(148, 148, 148);
}

form>div>label{
    font-size: 2rem;
    margin-left: 0.5rem;
}


/*nom/prenom/tel*/
.infoclient{
    background-color: rgb(227, 175, 107);
    padding-top: 5%;
}


/*questions partie kebab*/
.infocommande{
    background-color:  rgb(231, 210, 183);
    align-self: center;
}


/*tableau des suppléments*/
table, th, td{
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
}

th{
    background-color:  rgb(231, 187, 131);
    color: white;
}