@media (min-width:768px){ /*pour ordi*/

    header img{
        grid-area: 1/1/2/2;
        width: 6rem;
        height: 6rem;
        margin-left: 1rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
    }


    /*a partir de l'image*/
    #main{
        display: grid;
        grid-template: auto/1fr;
        align-items: center;
        margin: 3%;
    }

    #main>div{
        background-color: rgb(227, 186, 131);
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: 10%;
    }

    #main>div>img{
        grid-area: 1/1/2/2;
        margin-left: 20%;
    }


    #main>div>a{
        grid-area: 4/1/7/2;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        border: none;
        height: 10%;
        width: 20%;
        border-radius: 50%;
        padding: 3%;
        margin-left: 42%;
    }
    
    #main>div>a:hover{
        background-color:  white;
        color: black;
        border: 1px solid black;
        transition: all 0.5s;
    }


    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 5rem;
        height: 5rem;
        position: relative;
        left: 80%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.4rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 1rem;
    }
    
    #adresse{
        grid-area: 4/1/5/2;
    }
    
    #mail{
        grid-area: 4/2/5/3;
    }
    
    #tel{
        grid-area: 4/3/5/4;
    }
    
    #reseaux{
        grid-area: 5/2/6/3;
    }
    
    
    a>img{
        width: 2.5rem;
        height: 2.5rem;
    }
    

}






@media (max-width:767px){ /*pour tel*/

    header img{
        grid-area: 1/1/2/2;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 2px 8px;
        margin: 5px 15px;
        text-decoration: none;
        font-size: 0.7rem;
    }



    /*a partir de l'image*/
    #main{
        display: grid;
        grid-template: auto/1fr;
        align-items: center;
        margin: 3%;
    }

    #main>div{
        background-color: rgb(227, 186, 131);
        margin: auto;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #main>div>img{
        grid-area: 1/1/2/2;
        margin-left: 20%;
        width: 50%;
        height: 50%;
    }



    #main>div>a{
        grid-area: 4/1/7/2;
        background-color: black;
        color: white;
        font-size: 1rem;
        border: none;
        height: 10%;
        width: 20%;
        border-radius: 50%;
        padding: 2%;
        margin-left: 40%;
    }
    

    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 4rem;
        height: 4rem;
        position: relative;
        left: 30%;
        top: 8%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.2rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 0.8rem;
    }
    
    #adresse{
        grid-area: 4/2/5/3;
    }
    
    #mail{
        grid-area: 5/2/6/3;
    }
    
    #tel{
        grid-area: 6/2/7/3;
    }
    
    #reseaux{
        grid-area: 7/1/8/4;
    }
    
    a>img{
        width: 2rem;
        height: 2rem;
    }
    
}




/*commun*/

header{

    background-color: black ;
    display: grid;
    grid-template: 1fr / 10% 1fr 1fr 2fr;
    align-items: center;
    height: auto;
}


header>a:hover, div>a:hover{
    background-color: #ddd;
    color: black;
}


body{
    background-color: rgb(231, 210, 183);
    margin: 0;
}




#main>div>h1{
    grid-area: 2/1/3/2;
    text-align: center;
    font-size: 2rem;
    color: black;
}

#main>div>p:nth-of-type(1){
    grid-area: 3/1/4/2;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}


#main>div>p:nth-of-type(2){
    grid-area: 3/1/4/2;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 5%; /*pour laisser de l'espace en dessous*/
}



