@media (min-width:768px){ /*pour ordi*/

    header img{
        grid-area: 1/1/2/2;
        width: 6rem;
        height: 6rem;
        margin-left: 1rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
    }


    /*à partir de l'image*/
    #main{
        display: grid;
        grid-template: 2.7fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
        margin-bottom: 5%;
    }

    div:first-child{
        background-image: url(images/main.png);
        background-size: cover;
        background-position: center;
        grid-area: 1/1/2/4;   
    }
    
    div>a{
        padding: 28px 32px;
        text-decoration: none;
        background-color: rgb(255, 149, 0);
        color: white;
        display: block;
        width: 10%;
        margin: auto;
        margin-top: 20%;
        border-radius: 30%;
    }

    div>a:hover{
        background-color: #ddd;
        color: black;
        padding: 34px 38px;
        transition: 0.5s;
    }

    div>img{
        width: 15%;
    }

    p{
        font-size: 1.5rem;
    }
    
    section>div h1{
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
    }
    



    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 5rem;
        height: 5rem;
        position: relative;
        left: 80%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.4rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 1rem;
    }
    
    #adresse{
        grid-area: 4/1/5/2;
    }
    
    #mail{
        grid-area: 4/2/5/3;
    }
    
    #tel{
        grid-area: 4/3/5/4;
    }
    
    #reseaux{
        grid-area: 5/2/6/3;
    }
    
    
    a>img{
        width: 2.5rem;
        height: 2.5rem;
    }
    

}



@media (max-width:767px){ /*pour tel*/

    header img{
        grid-area: 1/1/2/2;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
    }

    a{
        color: white;
        text-align: center;
        padding: 2px 8px;
        margin: 5px 15px;
        text-decoration: none;
        font-size: 0.7rem;
    }

    #main{
        display: grid;
        grid-template: 0.8fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
        margin-bottom: 5%;
    }
   

    div:first-child{
        background-image: url(images/main.png);
        background-size: cover;
        background-position: center;
        grid-area: 1/1/2/4;   
    }

    div>a{
        text-align: center;
        padding: 14px 16px;
        position: relative;
        text-decoration: none;
        font-size: 12px;
        background-color: rgb(255, 149, 0);
        color: white;
        top: 48%;
        left: 35%;
        border-radius: 30%;
    }

    div>img{
        width: 40%;
    }

    p{
        font-size: 1rem;
    }
    
    section>div h1{
        font-size: 1.5rem;
        text-align: center;
    }
    



    /*footer*/
    footer{
        background-color: black;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr;
        color: #ddd;
    }
    
    footer>img{
        grid-area: 1/3/2/4;
        width: 4rem;
        height: 4rem;
        position: relative;
        left: 30%;
        top: 8%;
    }
    
    
    footer>p:first-child{
        grid-area: 1/1/2/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
        margin-bottom: 0;
    }
    
    footer>p:nth-child(2){
        grid-area: 2/1/3/3;
        font-size: 0.8rem;
        margin-left: 0.8rem;
    }
    
    footer>h1{
        grid-area: 3/2/4/3;
        text-align: center;
        font-size: 1.2rem;
    }
    
    footer h1:first-child{
        color: #ddd;
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    
    footer>div>p{
        text-align: center;
        font-size: 0.8rem;
    }
    
    #adresse{
        grid-area: 4/2/5/3;
    }
    
    #mail{
        grid-area: 5/2/6/3;
    }
    
    #tel{
        grid-area: 6/2/7/3;
    }
    
    #reseaux{
        grid-area: 7/1/8/4;
    }
    
    a>img{
        width: 2rem;
        height: 2rem;
    }
    
}




/*commun*/

header{

    background-color: black ;
    display: grid;
    grid-template: 1fr / 10% 1fr 1fr 2fr;
    align-items: center;
    height: auto;
}

#commande{
    grid-area: 1/2/3/3;
}


header>a:hover{
    background-color: #ddd;
    color: black;
}


body{
    background-color: rgb(231, 210, 183);
    margin: 0;
}





#philosophie{
    grid-area: 2/1/3/4;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#philosophie>h1{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}


#gout{
    grid-area: 3/1/4/2;
    text-align: center;
    margin-left:10%;
}

#prix{
    grid-area: 3/3/4/4;
    text-align: center;
    margin-right:10%;
}

#temps{
    grid-area: 4/2/5/3;
    text-align: center;
}

#responsabilite{
    grid-area: 5/1/6/2;
    text-align: center;
    margin-left:10%;
}

#vielocale{
    grid-area: 5/3/6/4;
    text-align: center;
    margin-right:10%;
}
